@charset "UTF-8";
:root {
  --background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-color: #212121;
  --secondary-color: #2196f3;
  --buttons-color: #f5f4fa;
  --contacts-color: #757575;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Хэдер */
.header {
  background-color: var(--background-color);
  border: 1px solid rgb(236, 236, 236);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Навигация */
.nav-link {
  font-weight: 500px;
  letter-spacing: 2%;
}

.header .nav-link.current.studio:hover, .header .nav-link.current.studio:focus,
.header .nav-link.current.studio:hover,
.header .nav-link.current.studio:focus {
  color: var(--secondary-color);
}

.header .nav-link:hover, .header .nav-link:focus,
.header .nav-link:hover,
.header .nav-link:focus {
  color: var(--secondary-color);
}

.link-mail {
  text-decoration: none;
  color: var(--contacts-color);
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 0px;
  padding-top: 0px;
  margin-right: 93px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--secondary-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.site-logo:hover {
  color: var(--secondary-color);
}

.site-name {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-functio);
          transition-timing-function: var(--transition-timing-functio);
}

.site-name:hover {
  color: var(--secondary-color);
}

/* Навигация */
.nav-item .current {
  position: relative;
  text-decoration: none;
  color: var(--primary-color);
}

.nav-item .current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 46px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.nav-item .studio {
  position: relative;
  text-decoration: none;
  color: var(--primary-color);
}

.nav-item .studio::after {
  content: "";
  position: absolute;
  left: 0;
  top: 46px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.nav-link {
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 2%;
  color: var(--primary-color);
}

.nav .nav-link.studio {
  color: rgb(33, 150, 243);
}

.nav.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.nav .list:not(first-child) {
  color: var(--secondary-color);
}

.nav .nav-item {
  /* padding-top: 30px;
    padding-bottom: 30px; */
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.studio .link {
  color: var(--secondary-color);
}

.portfolio {
  color: var(--primary-color);
}

/* Навигация */
.auth-nav.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 100%;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .mail {
  margin-right: 0px;
  margin-left: 0px;
}

.a.link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav .tel {
  margin-right: 0px;
  margin-left: 50px;
}

.header__link__mail,
.header__link__tel {
  font-size: 14px;
  letter-spacing: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31px;
  padding-bottom: 31px;
  gap: 10px;
  text-decoration: none;
  color: var(--contacts-color);
}

.item .auth-nav {
  padding-top: 31px;
  padding-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-nav .item + .item {
  margin-left: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header__link__mail:focus, .header__link__mail:hover,
.header__link__mail:focus,
.header__link__mail:hover {
  color: var(--secondary-color);
}

.header__link__tel:focus, .header__link__tel:hover,
.header__link__tel:focus,
.header__link__tel:hover {
  color: var(--secondary-color);
}

.tech__link {
  fill: currentColor;
}

/* Герой */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-size: contain;
  padding-top: 0px;
  padding-bottom: 94px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/шапка.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/шапка.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-color);
}

.hero__box {
  padding-top: 200px;
  text-align: center;
  max-width: 696px;
  margin: auto;
}

.hero__text {
  padding: 0px 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  color: var(--background-color);
}

.button__one {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 32px;
  text-align: center;
  border: transparent;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 6%;
  color: var(--background-color);
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

/* Кнопки */
.button__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 50px;
  gap: 8px;
}

.button {
  margin-bottom: 0px;
}

.button__item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  min-height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  background: var(--buttons-color);
  border: transparent;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.button__item:hover, .button__item:focus,
.button__item:hover,
.button__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transition-property: var(--background-color);
  transition-property: var(--background-color);
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--background-color);
}

.blue .button__item:hover {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

.blue {
  background: var(--secondary-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.62;
  color: var(--background-color);
  cursor: pointer;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.blue:hover:hover, .blue:hover:focus,
.blue:focus:hover,
.blue:focus:focus {
  border-radius: 4px;
  color: var(--background-color);
}

/* Описание преимуществ */
.Benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.Benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.Benefits__list::before {
  display: block;
  content: "";
  height: 120px;
  background: var(--buttons-color);
  background-image: url(../images/attentionmin.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.Benefits__list:nth-child(2)::before {
  background-image: url(../images/oclockmin.svg);
}

.Benefits__list:nth-child(3)::before {
  background-image: url(../images/planningmin.svg);
}

.Benefits__list:nth-child(4)::before {
  background-image: url(../images/technologymin.svg);
}

.Benefits__title {
  font-weight: bold;
  line-height: 1.14;
  font-size: 16px;
  margin-bottom: 10px;
}

.Benefits__text {
  font-size: 14px;
  line-height: 1.72;
  color: var(--contacts-color);
}

/* Чем мы занимаемся */
.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: 50px;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  width: 1170px;
  padding-left: 0px;
  padding-right: 0px;
}

.works__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translate(0, 223px);
          transform: translate(0, 223px);
  background: rgba(47, 48, 58, 0.8);
  opacity: 0.95;
  z-index: 1;
}

/* Наша команда */
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--buttons-color);
}

.cards {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  width: 1170px;
  padding-left: 0px;
  padding-right: 0px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-top: 30px;
  text-align: center;
  color: var(--primary-color);
}

.text-job {
  font-size: 16px;
  line-height: 1.9;
  font-style: normal;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;
  color: var(--contacts-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 10px;
  margin-bottom: 30px;
  margin-right: 32px;
  margin-left: 32px;
  color: rgb(175, 177, 184);
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.social__link:hover, .social__link:focus,
.social__link:hover,
.social__link:focus {
  background-color: var(--secondary-color);
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
  width: 20px;
  height: 20px;
  background-position: 50%;
  fill: rgb(175, 177, 184);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.social__link:focus .social__icon, .social__link:hover .social__icon,
.social__link:focus .social__icon,
.social__link:hover .social__icon {
  fill: var(--background-color);
}

/* Постоянные клиенты */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients__title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__cards {
  width: 170px;
  height: 92px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus,
.clients__item:hover,
.clients__item:focus {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.clients__label {
  fill: currentColor;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.accent-footer:hover, .accent-footer:focus,
.accent-footer:hover,
.accent-footer:focus {
  color: var(--secondary-color);
}

.accent-footer {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: bold;
  line-height: 0px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--background-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.address-map {
  display: inline-block;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.address-map:hover, .address-map:focus,
.address-map:hover,
.address-map:focus {
  color: var(--secondary-color);
}

.address-mail {
  display: inline-block;
  margin-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.address-mail:hover, .address-mail:focus,
.address-mail:hover,
.address-mail:focus {
  color: var(--secondary-color);
}

.address-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.address-tel:hover, .address-tel:focus,
.address-tel:hover,
.address-tel:focus {
  color: var(--secondary-color);
}

/* Присоединяйтесь */
.join {
  margin-left: 70px;
}

.join__title {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--background-color);
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 10px;
  margin: 0;
}

.join__icon {
  fill: rgb(175, 177, 184);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.join__item:hover .join__icon {
  fill: #ffffff;
}

.join__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.join__item:hover {
  background-color: var(--secondary-color);
}

.join__icon {
  color: var(--background-color);
}

/* Подписаться */
.signature {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}

.signature__title {
  display: inline-block;
  padding-bottom: 20px;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.field__input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.field__input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.field__input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.field__input::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.field__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-field {
  width: 200px;
  height: 50px;
  margin-left: 20px;
  padding: 10px 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.button-field__twitter {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Модальное окно */
.backdrop.is-hidden.modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  padding: 40px;
  min-width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.modal__close:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.modal__close:hover .close__icon {
  fill: currentColor;
}

/* form */
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.label {
  display: block;
  padding-top: 10px;
  padding-bottom: 2px;
}

.label__text {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #757575;
}

.field {
  position: relative;
}

.field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.field__input:hover, .field__input:focus,
.field__input:hover,
.field__input:focus {
  border-color: var(--secondary-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.field__input:hover + .field__icon, .field__input:focus + .field__icon,
.field__input:hover + .field__icon,
.field__input:focus + .field__icon {
  fill: var(--secondary-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.input:focus {
  border-color: var(--secondary-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.field__input {
  padding: 11px 15px 11px 32px;
}

.field__input:focus {
  border-color: var(--secondary-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.message {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* checkbox */
.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-left: 13px;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox:checked + .checkbox__icon {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  background-image: url("../images/v.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.privacy__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 14px;
  border: 1px solid;
  border-radius: 2px;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  border: 2px solid var(--primary-color);
  height: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.privacy__text {
  margin-left: 8px;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.privacy__link {
  color: var(--secondary-color);
}

.button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.button-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: transparent;
  background: var(--secondary-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 52px;
  text-align: center;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

/* Портфолио */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Картинки */
.section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.section__title__card {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.section__title__card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.section__title__card:hover .text__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-link {
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 6%;
  color: var(--primary-color);
}

.nav-link:focus .text__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product {
  position: relative;
  overflow: hidden;
}

.product__paragraf {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--background-color);
  letter-spacing: 0.03em;
  color: var(--background-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.section__title__card:hover .product__paragraf {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.description {
  display: block;
  outline: 1px solid #eeeeee;
  text-align: left;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  padding-bottom: 4px;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.description__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--contacts-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.place__portfolio {
  margin-bottom: 94px;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.accent-footer:hover, .accent-footer:focus,
.accent-footer:hover,
.accent-footer:focus {
  color: var(--secondary-color);
}

.accent-footer {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: bold;
  line-height: 0px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--background-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.address-map {
  display: inline-block;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.address-map:hover, .address-map:focus,
.address-map:hover,
.address-map:focus {
  color: var(--secondary-color);
}

.address-mail {
  display: inline-block;
  margin-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.address-mail:hover, .address-mail:focus,
.address-mail:hover,
.address-mail:focus {
  color: var(--secondary-color);
}

.address-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.address-tel:hover, .address-tel:focus,
.address-tel:hover,
.address-tel:focus {
  color: var(--secondary-color);
}

/* Присоединяйтесь */
.join {
  margin-left: 70px;
}

.join__title {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--background-color);
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 10px;
  margin: 0;
}

.join__icon {
  fill: rgb(175, 177, 184);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.join__item:hover .join__icon {
  fill: #ffffff;
}

.join__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.join__item:hover {
  background-color: var(--secondary-color);
}

.join__icon {
  color: var(--background-color);
}/*# sourceMappingURL=main.css.map */