:root {
  --background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-color: #212121;
  --secondary-color: #2196f3;
  --buttons-color: #f5f4fa;
  --contacts-color: #757575;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
